<div class="item">
    <div class="item-contents">
        <div class="item-image-container">
            <img src={{imageURL}} alt={{name}}>
        </div>
        <div class="item-info-container">
            <h2 class="item-name">{{name}}</h2>
            <h3 class="ethicality-score">Score: {{ethicalityScore}}</h3>
            <p class="item-description">
                {{textDescription}}
            </p>
            {{#if produce}}
            <span class="in-season-indicator">{{inSeason}}</span>
            {{/if}}
            <h3 class="alternatives">Alternatives: {{alternatives}}</h3>
            <button class="save-item-button">+ Save</button>
        </div>
        <div class="hidden">
            {{type}}
        </div>
    </div>
</div>